<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="설명">
  <meta name="theme-color" content="#fafafa">

  <!-- og tag -->
  <meta property="og:title" content="제목" />
  <meta property="og:description" content="설명" />
  <meta property="og:image" content="이미지경로" />

  <!-- favicon -->
  <link rel="icon" href="/favicon.ico" sizes="any">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="src/js/main.js"></script>

  <!-- lib js area -->
  <!-- <script src="src/js/lib/aos.js"></script>
  <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->

  <link rel="stylesheet" href="src/css/reset.css">

  <!-- lib css area -->
  <!-- <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="src/styles/lib/aos.css"> -->

  <link rel="stylesheet" href="src/css/font.css">
  <link rel="stylesheet" href="src/css/globals.css">
  <link rel="stylesheet" href="src/css/animation.css">
  <link rel="stylesheet" href="src/css/style.css">
  <link rel="stylesheet" href="src/css/media.css">
  <title>Minikit boilerplate</title>
</head>

<body>
  <!-- header -->
  <header></header>

  <!-- main -->
  <main>
    <button>boilerplate</button>
    <textarea></textarea>
  </main>

  <!-- footer -->
  <footer></footer>
</body>

  
</html>
