/* Paperlogy 폰트 */
@font-face {
  font-family: 'font-R';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/paperlogy/Paperlogy-4Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font-B';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/paperlogy/Paperlogy-7Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'font-H';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/paperlogy/Paperlogy-9Black.woff2') format('woff2');
  font-display: swap;
}

/* Pretendard 폰트 */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/pretendard/woff2/Pretendard-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/pretendard/woff2/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/pretendard/woff2/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/pretendard/woff2/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/pretendard/woff2/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/pretendard/woff2/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/pretendard/woff2/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/pretendard/woff2/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/pretendard/woff2/Pretendard-Thin.woff2') format('woff2');
}

