/* 데스크탑 중간 화면 (1920px 이상) */
@media (min-width: 1920px) {
  .main-section {
    height: 66vw;
    max-height: none;
  }
}
@media (max-width: 1700px) {
  body > .wrap > .main-right-float {
    width: 14.375vw;
    height: 11.6667vw;
    top: 37.0833vw;
    right: 11.8229vw;
  }

  #floatLeftButton {
    width: 12.6042vw;
    height: 21.8688vw;
    top: 7.57vw;
    left: 3.52vw;
  }

  body > .wrap > .main-right-float > .arrow {
    width: 2.3438vw;
    height: 2.3438vw;
    right: 0.9896vw;
    bottom: 1.9792vw;
  }

  .container {
    max-width: 83.3333vw;
  }
  .contents-container {
    max-width: 72.9167vw;
  }

  /* header start */

  .header {
    padding: 1.5625vw 0;
  }

  .header h1 a {
    width: 10.7292vw;
    height: 4.0104vw;
  }

  .header .container .menu {
    max-width: 33.0729vw;
  }

  .header .container .menu li a {
    font-size: 1.3542vw;
  }

  .header.drop {
    padding: 1.0417vw 0;
  }

  /* header end */

  /* main-section start */

  .main-section {
    width: 100%;
    height: 100vw;
    max-height: 65.625vw;
  }

  .main-section .container .top {
    padding: 9.8438vw 5.2083vw 0 5.2083vw;
  }

  .main-section .container .top p {
    font-size: 5.7292vw;
    line-height: 6.5625vw;
    text-shadow: 0.1042vw 0.1042vw 0.1042vw #d1d1d1;
  }

  .main-section .container .top p .main-color {
    font-size: 5.2083vw;
  }

  .main-section .container .top .main-title del {
    top: 0.9375vw;
    left: 18.5417vw;
    border-radius: 1.5625vw;
    font-size: 1.5625vw;
    padding: 0.3646vw 2.3438vw;
  }

  .main-section .container .top .main-title del::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.8854vw solid transparent;
    border-top-color: #10a34a;
    border-bottom: 0;
    border-left: 0;
    margin-left: -6.3542vw;
    margin-bottom: -0.8333vw;
  }

  .main-section .container .bottom {
    padding: 3.125vw 5.2083vw 0 5.2083vw;
  }

  .main-section .container .bottom ul li {
    margin-bottom: 1.0417vw;
  }

  .main-section .container .bottom ul li:last-child {
    margin-bottom: 0;
  }

  .main-section .container .bottom ul li p.main-color {
    font-size: 1.3542vw;
    margin-right: 0.9896vw;
    font-weight: 600;
  }

  .main-section .container .bottom ul li > p:last-child {
    font-size: 1.25vw;
  }

  .main-section .container .bottom ul li > div > p {
    font-size: 1.25vw;
  }

  .gts-icon {
    margin: 0 0.5208vw 0 0.2604vw;
    width: 1.3021vw;
    height: 1.3021vw;
  }

  .main-section .main-right-float {
    top: 40.9813vw;
    right: 7.3958vw;
    font-size: 0.8333vw;
  }
  /* main-section end */

  /* recruit-section start */
  .recruit-section .bg {
    height: calc(100% + 6.6875vw);
  }
  .recruit-section .schedule-box .container {
    padding-top: 21.4406vw;
  }
  .recruit-section .schedule-box .container .recruit-schedule {
    height: 24.1563vw;
    top: -7.9688vw;
  }
  .recruit-section .schedule-box .container .recruit-schedule .top-box {
    width: 21.3542vw;
    height: 3.3333vw;
    border-radius: 3.3542vw 2.8125vw 0 0;
    border: 0.2083vw solid #0c4b63;
    border-bottom: none;
    box-shadow: 0.201vw 0px 0.0333vw -0.0521vw #0c4b63;
    top: -3.09vw;
  }
  .recruit-section .schedule-box .container .recruit-schedule .box-title {
    font-size: 3.125vw;
    top: -1.25vw;
    left: 5.2083vw;
    width: 11.0417vw;
    height: 2.7083vw;
  }
  .recruit-section .schedule-box .container .recruit-schedule .box-contents {
    border-radius: 0 2.0833vw 2.0833vw 2.0833vw;
    height: 23.2969vw;
    border: 0.2083vw solid #0c4b63;
    box-shadow: 0.3125vw 0.3125vw 0px 0px #0c4b63;
    padding-top: 4.1667vw;
  }
  .recruit-section
    .schedule-box
    .container
    .recruit-schedule
    .box-contents
    .contents-container
    .txt-wrap {
    margin-top: 3.1771vw;
    display: flex;
    justify-content: space-between;
  }
  .recruit-section
    .schedule-box
    .container
    .recruit-schedule
    .box-contents
    .contents-container
    .txt-wrap
    ul
    li:first-child {
    font-size: 1.25vw;
  }
  .recruit-section
    .schedule-box
    .container
    .recruit-schedule
    .box-contents
    .contents-container
    .txt-wrap
    ul
    li:first-child
    img {
    width: 1.1458vw;
    height: 1.0417vw;
    margin-right: 0.3646vw;
  }
  .recruit-section
    .schedule-box
    .container
    .recruit-schedule
    .box-contents
    .contents-container
    .txt-wrap
    ul
    li:last-child {
    font-size: 1.0417vw;
    margin-top: 0.2604vw;
  }

  .recruit-section
    .schedule-box
    .container
    .recruit-schedule
    .box-contents
    .contents-container
    .txt-wrap
    ul
    li:last-child
    p:last-child {
    font-size: 0.8333vw;
  }

  .recruit-title {
    border-top: 0.0469vw solid #fff;
    border-bottom: 0.0469vw solid #fff;
    font-size: 3.6458vw;
    margin-top: -0.5208vw;
    height: 7.5vw;
  }

  .deco01 {
    width: 15.1563vw;
    height: 21.3021vw;
  }

  .recruit-section .schedule-box .container .subject-list {
    padding-top: 3.6458vw;
  }

  .recruit-section .schedule-box .container .subject-list .wrap {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.0313vw;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .deco02 img {
    width: 20.47vw;
    height: 19.06vw;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .type1 {
    min-height: 22.1573vw;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .type1 .top {
    height: 5.3646vw;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .type2 {
    min-height: 15.625vw;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .nemo {
    max-height: 25.5219vw;
    border: 0.2083vw solid #0c4b63;
    border-radius: 2.0833vw;
    background-color: #fff;
    box-shadow: 0.3125vw 0.3125vw 0px 0px #0c4b63;
    padding: 2.6042vw 0 2.6042vw 2.5vw;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .nemo .num {
    width: 3.125vw;
    height: 3.125vw;
    font-size: 1.4063vw;
    position: absolute;
    top: 1.5938vw;
    right: 2.1354vw;
    border-radius: 100%;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .nemo .title {
    font-size: 2.3958vw;
    margin-bottom: 1.8229vw;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .nemo ul li {
    font-size: 1.25vw;
    padding-left: 1.4063vw;
    line-height: 1.7495vw;
    letter-spacing: -0.0417vw;
  }

  .recruit-section
    .schedule-box
    .container
    .subject-list
    .wrap
    .nemo
    ul
    li:first-child::before {
    width: 0.4167vw;
    height: 0.4167vw;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .nemo hr {
    border: 0.0521vw dotted #e8e8e8;
    margin: 1.1979vw 0;
  }

  .recruit-section .schedule-box .container .subject-notice {
    padding: 3.125vw 0 6.25vw 0;
  }

  .recruit-section .schedule-box .container .subject-notice .wrap {
    height: 4.1667vw;
    border-radius: 2.0833vw;
  }

  .recruit-section .schedule-box .container .subject-notice .wrap span {
    width: 12.5vw;
    height: 4.1667vw;
    border-radius: 2.0833vw;
    font-size: 1.5625vw;
  }

  .recruit-section .schedule-box .container .subject-notice .wrap p {
    font-size: 1.25vw;
    padding-left: 4.2708vw;
  }

  .recruit-section .schedule-box .container .subject-notice .wrap p img {
    width: 1.5938vw;
    height: 1.5938vw;
    margin: 0 0.5208vw;
  }

  /* recruit-section end */
  /* examination-details-section start */
  .examination-details-section {
    padding-top: 6.25vw;
    padding-bottom: 6.25vw;
  }

  .examination-details-section .container .box-wrap {
    padding-top: 6.7708vw;
    padding-bottom: 6.4146vw;
  }

  .examination-details-section
    .container
    .box-wrap
    .examination-detail
    .top-box {
    width: 21.3542vw;
    height: 3.3333vw;
    border-radius: 3.6458vw 2.8125vw 0 0;
    border: 0.2083vw solid #3a571d;
    background-color: #fff;
    border-bottom: none;
    box-shadow: 0.201vw 0px 0.0333vw -0.0521vw #3a571d;
    top: -3.125vw;
  }

  .examination-details-section .container .box-wrap .examination-detail .box-title {
    font-size: 3.125vw;
    position: absolute;
    top: -1.25vw;
    left: 5.2083vw;
    width: 11.0417vw;
    height: 2.7083vw;
  }

  .examination-details-section .container .box-wrap .examination-detail .box-contents {
    border-radius: 0 2.0833vw 2.0833vw 2.0833vw;
    border: 0.2083vw solid #3a571d;
    box-shadow: 0.3125vw 0.3125vw 0px 0px #3a571d;
  }

  .examination-details-section .container .box-wrap .detail01 {
    height: calc(43.75vw - 3.3333vw);
  }

  .examination-details-section .container .box-wrap .detail01 .box-contents {
    height: 44.7813vw;
  }

  .examination-details-section
    .container
    .box-wrap
    .detail01
    .box-contents
    .deco03 {
    right: 1.875vw;
    top: -4.21875vw;
    width: 8.38542vw;
    height: 4.21875vw;
  }

  .examination-details-section .container .box-wrap .detail02 {
    height: calc(36.4583vw - 3.3333vw);
    margin-top: 11.875vw;
  }

  .examination-details-section .container .box-wrap .detail02 .deco04 {
    width: 20.36458vw;
    height: 20.9375vw;
  }

  .examination-details-section .container .box-wrap .detail02 .deco05 {
    width: 13.54167vw;
    height: 12.29167vw;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents {
    height: 33.2813vw;
  }

  .award-section > div {
    border-radius: 1.0417vw;
    margin-bottom: 0.3125vw;
  }

  .award-header,
  .criteria-header {
    margin-top: 4.2188vw;
    height: 4.1667vw;
    font-size: 1.7708vw;
    gap: 0.3125vw;
    border-radius: 1.0417vw;
  }

  .criteria-header {
    margin-bottom: 0.3125vw;
  }

  .award {
    font-size: 1.4583vw;
    height: 4.1667vw;
  }

  .award-row,
  .criteria-row {
    gap: 0.3125vw;
  }

  .award-row div {
    height: 4.375vw;
    line-height: 4.375vw;
    border-radius: 1.0417vw;
    font-size: 1.4583vw;
  }

  .award-header div:nth-child(1),
  .award-row div:nth-child(1),
  .award-header div:nth-child(3),
  .award-row div:nth-child(3) {
    max-width: 15.1042vw;
    width: 20.7%;
  }

  .award-header div:nth-child(2),
  .award-row div:nth-child(2) {
    max-width: 42.1771vw;
    width: 57.74%;
  }

  .criteria-section > .criteria-row {
    height: 6.5625vw;
    margin-bottom: 0.3125vw;
  }

  .criteria-row > div {
    border-radius: 1.0417vw;
    font-size: 1.4583vw;
  }

  .criteria-row:nth-child(3) {
    height: 8.75vw;
  }

  .criteria-row:nth-child(4) {
    height: 4.5vw;
  }

  .criteria-row div:nth-child(4) {
    padding-left: 3.125vw;
  }

  .criteria-row div:nth-child(4) em {
    font-size: 1.0417vw;
    color: #555;
    margin-top: 0.2604vw;
  }

  .criteria-row div p {
    padding-left: 1.0417vw;
  }

  .criteria-row div p::before {
    width: 0.3125vw;
    height: 0.3125vw;
    margin-right: 0.2604vw;
  }

  .score-wrap {
    gap: 5%;
    padding-bottom: 6.25vw;
  }

  .score-wrap .evaluation-score,
  .score-wrap .additional-points {
    width: 47.5%;
  }

  .score-wrap .evaluation-score p,
  .score-wrap .additional-points p {
    width: 16.6667vw;
    height: 4.1667vw;
    border-radius: 2.0833vw;
    font-size: 2.0833vw;
  }

  .evaluation-score ul,
  .additional-points ul {
    margin-top: 1.5625vw;
  }

  .evaluation-score ul li,
  .additional-points ul li {
    border-radius: 2.0833vw;
    height: 4.1667vw;
    font-size: 1.3542vw;
    margin-bottom: 0.5208vw;
    letter-spacing: -0.0208vw;
  }

  .evaluation-score ul li span {
    width: 5.2083vw;
    height: 3.125vw;
    border-radius: 1.5625vw;
    margin: 0 1.0417vw 0 0.5208vw;
  }

  .additional-points ul li .check_icon {
    width: 2.7083vw;
    height: 2.7604vw;
    margin: 0 1.0417vw;
  }

  .evaluation-score ul li:first-child {
    height: 6.2188vw;
  }

  .evaluation-score ul li:first-child span {
    height: 4.6667vw;
  }

  /* examination-details-section end */

  /* voting-section start */
  /* tabs-wrap */
  .voting-section .container {
    padding-top: 6.25vw;
    padding-bottom: 6.25vw;
  }

  .voting-section .deco08 {
    width: 19.11458vw;
    height: 15.72917vw;
  }

  .voting-section .tabs-wrap {
    border-top: 0.0521vw solid #fff;
    border-bottom: 0.0521vw solid #fff;
  }

  .voting-section .tabs {
    height: 7.5vw;
  }

  .voting-section .tabs .line {
    width: 0.0521vw;
    height: 7.5vw;
  }

  .voting-section .tabs .tab {
    /* width: 19.7917vw; */
    border-radius: 2.0833vw;
    font-size: 3.6458vw;
  }

  /* cate-wrap */
  .cate-wrap {
    margin-top: 3.6458vw;
  }

  .cate-wrap .tabs {
    height: 3.125vw;
    gap: 1.0417vw;
    max-width: 75.6875vw;
  }

  .cate-wrap .tabs .tab {
    font-size: 1.0417vw;
    font-size: 1.25vw;
    height: 3.125vw;
  }

  .cate-wrap .tabs .tab::after {
    width: 0.2083vw;
    height: 0.2083vw;
    opacity: 0.5;
    border-radius: 50%;
    right: -0.625vw; /* cate-wrap 간격 */
    top: 50%;
    transform: translateY(-50%);
  }

  .cate-wrap .tabs .tab.active {
    border-radius: 1.5625vw;
  }

  /* voting-box */
  .voting-section .container .voting-box {
    height: 78vw;
    border: 0.2083vw solid #014f27;
    box-shadow: 0.3125vw 0.3125vw 0px 0px #014f27;
    border-radius: 2.6042vw;
    margin-top: 2.6042vw;
    overflow: hidden;
  }

  .voting-section .container .voting-box .top {
    height: 7.5vw;
  }

  .voting-section .container .voting-box .top .search-container {
    gap: 1.0417vw;
  }

  .voting-section .container .voting-box .bottom .info {
    padding: 2.0833vw 0 1.5625vw;
    font-size: 1.1458vw;
  }

  .voting-section .container .voting-box .bottom .info p .main-color {
    font-size: 1.3542vw;
  }

  .voting-section .container .voting-box .bottom .info select {
    width: 6.875vw;
    background: url(../images/select_arrow.png) no-repeat 96% 50% / 0.7813vw
      auto;
  }

  .voting-section .container .voting-box .contents .no-list-wrap {
    border-radius: 30px;
    height: 51.25vw;
  }

  .voting-section .container .voting-box .contents .no-list-wrap .no-list p {
    font-size: 2.60417vw;
  }

  .voting-section .container .voting-box .contents .no-list-wrap .no-list img {
    width: 11.25vw;
    height: 20.20833vw;
    margin-bottom: 3.64583vw;
  }

  .voting-section .container .voting-box .bottom .contents .grid {
    gap: 1.1458vw;
  }

  .voting-section .container .voting-box .bottom .contents .grid .list {
    border-radius: 15px;
    border: 0.1042vw solid #ccc;
    padding: 1.1771vw;
  }

  .voting-section
    .container
    .voting-box
    .bottom
    .contents
    .grid
    .checked-border {
    box-shadow: 0.3125vw 0.3125vw 0px 0px #1cabe2;
    border: 0.1042vw solid #1cabe2;
  }

  .voting-section
    .container
    .voting-box
    .bottom
    .contents
    .grid
    .list
    .txt-wrap {
    padding: 0.5208vw;
  }

  .voting-section
    .container
    .voting-box
    .bottom
    .contents
    .grid
    .list
    .txt-wrap
    .flex
    .category {
    width: 6.25vw;
    height: 1.5625vw;
    border-radius: 0.7813vw;
    font-size: 1.0417vw;
  }

  .voting-section
    .container
    .voting-box
    .bottom
    .contents
    .grid
    .list
    .txt-wrap
    .flex {
    margin-bottom: 1.3021vw;
  }

  .voting-section
    .container
    .voting-box
    .bottom
    .contents
    .grid
    .list
    .txt-wrap
    .sub-title {
    margin-bottom: 0.5208vw;
    font-size: 1.0417vw;
  }

  .voting-section
    .container
    .voting-box
    .bottom
    .contents
    .grid
    .list
    .txt-wrap
    .txt {
    font-size: 1.25vw;
    line-height: 2vw;
    margin-bottom: 1.1771vw;
    height: 4vw;
  }

  .voting-section .container .voting-box .bottom .contents .grid .list img {
    border-radius: 0.5208vw;
    max-width: 11.6458vw;
    max-height: 13.2813vw;
  }

  .pagenation-container {
    width: 100%;
    margin-top: 2.6042vw;
  }

  .pagenation-container #prev_page,
  .pagenation-container #next_page {
    width: 1.1458vw;
    height: 1.3021vw;
  }
  .pagenation-container .pages {
    margin: 0px 3.0208vw;
  }

  .pagenation-container .pages .active {
    width: 2.6042vw;
    height: 2.6042vw;
    border-radius: 100%;
  }

  .pagenation-container .pages span {
    font-size: 0.9375vw;
    padding: 1.0417vw;
  }

  .dropdown,
  .search-input,
  .search-button {
    border: 0.1042vw solid #ddd;
    border-radius: 1.5625vw;
    font-size: 1.25vw;
    height: 3.125vw;
  }

  .dropdown {
    width: 15.6875vw;
    background: url(../images/select_arrow.png) no-repeat 86% 50% / 0.7813vw
      auto;
    padding: 0 2.1354vw;
  }

  .search-input {
    border: 0.1042vw solid #ddd;
    padding: 0 2.1354vw;
    width: 44.6875vw;
  }

  .search-button {
    width: 10.4167vw;
  }
  /* 체크박스 라벨 스타일 */
  .custom-checkbox {
    font-size: 0.8333vw;
  }

  /* 체크되지 않은 상태의 배경색과 테두리 */
  .custom-checkbox .checkmark {
    width: 1.3542vw;
    height: 1.3542vw;
    margin-right: 0.2083vw;
    border: 0.1042vw solid #000; /* 기본 테두리 */
    border-radius: 0.2083vw;
  }

  /* 체크된 상태에서 체크 표시 이미지 적용 */
  .custom-checkbox input[type="radio"]:checked + .checkmark::after {
    width: 2.2292vw;
    height: 2.1354vw;
  }

  /* benefit-section start */

  .benefit-section .deco06 {
    width: 21.35417vw;
    height: 14.47917vw;
    gap: 2.55208vw;
  }

  .benefit-section .deco06 img:first-child {
    width: 4.63542vw;
    height: 5.20833vw;
  }

  .benefit-section .deco06 img:last-child {
    width: 14.16667vw;
    height: 13.75vw;
  }

  .section-title {
    border-top: 0.0521vw solid #fff;
    border-bottom: 0.0521vw solid #fff;
    font-size: 3.6458vw;
    height: 7.5vw;
  }

  .benefit-lists {
    margin-top: 4.0104vw;
  }

  .benefit-lists ul {
    gap: 1.0417vw;
  }

  .benefit-lists li {
    border: 0.2083vw solid #3a571d;
    border-radius: 2.0833vw;
    background-color: #fff;
    box-shadow: 0.3125vw 0.3125vw 0px 0px #3a571d;
    padding: 1.4583vw 0.5208vw;
  }

  .benefit-lists li::before {
    width: 3.125vw;
    height: 3.125vw;
    font-size: 1.4063vw;
    left: 1.0417vw;
  }

  .benefit-lists_icon {
    height: 4.875vw;
    margin-top: 1.5208vw;
  }

  .benefit-lists_icon img {
    height: 100%;
  }

  .benefit-lists_txt {
    font-size: 1.25vw;
    margin-top: 2.5vw;
    line-height: 2.1875vw;
  }

  .benefit-lists_txt .sub {
    font-size: 1.0417vw;
  }

  .benefit-ref {
    font-size: 1.1458vw;
    letter-spacing: -0.0278vw;
    margin-top: 1.3021vw;
  }
  /* benefit-section end */

  /* notice-section start */
  .notice-section {
    padding: 6.25vw 0 6.25vw;
  }

  .notice-box {
    border: 0.2083vw solid #000;
    border-radius: 2.6042vw;
    margin-top: 3.6458vw;
    box-shadow: 0.3125vw 0.3125vw 0px 0px #000;
  }

  .notice-box .empty {
    max-width: 1400px;
    height: 24.6875vw;
    border-radius: 1.5625vw;
    margin: 3.4375vw auto;
    font-size: 2.6042vw;
    font-weight: 800;
    display: none;
  }

  .notice-lists > li {
    padding: 2.0833vw 0;
    border-bottom: 0.0521vw dashed #ccc;
    margin: 0 3.6458vw;
  }

  .notice-lists > li::before {
    width: 3.125vw;
    height: 3.125vw;
    font-size: 1.4063vw;
    top: 2.0833vw;
  }

  .notice-lists_tit {
    font-size: 1.7708vw;
    padding-left: 5.2083vw;
    height: 3.125vw;
    line-height: 3.125vw;
  }

  .notice-lists_tit::after {
    width: 0.7813vw;
    height: 0.4688vw;
  }

  .notice-lists_tit.open + .notice-lists_box {
    max-height: 25vw;
  }

  .notice-lists_des {
    border-radius: 1.0417vw;
    padding: 2.0313vw 5.2083vw;
    margin-top: 1.5625vw;
  }

  .notice-lists_des p {
    line-height: 2.1875vw;
    font-size: 1.25vw;
  }

  .download-box {
    border-radius: 2.6042vw;
    padding: 0.3125vw 0 0.3125vw 1.5625vw;
    font-size: 1.0417vw;
    margin-top: 1.5625vw;
    box-shadow: 0.0521vw -0.0521vw 0.125vw rgba(0, 0, 0, 0.1);
  }

  .download-box ul {
    width: calc(100% - 5.9375vw);
  }

  .download_label {
    width: 5.9375vw;
  }

  .download_label::after {
    width: 0.0521vw;
    height: 1.0417vw;
    right: 1.25vw;
  }

  .download-file + .download-file {
    margin-top: 0.1042vw;
  }

  .download-file_name {
    width: calc(100% - 9.375vw);
  }

  .download-file_button {
    width: 8.3333vw;
    line-height: 2.6042vw;
    padding: 0 1.5625vw;
    border-radius: 2.6042vw;
    background: url(../images/down_icon.png) no-repeat 85% 50% / 0.7813vw;
    background-color: #000;
  }
  /* notice-section end */

  /* voting-section end */

  /* footer start */
  footer {
    /* height: 19.6875vw; */
    height: 32.6875vw;
  }

  footer .logo {
    padding: 5.2083vw 0 2.1354vw 0;
  }

  footer .footer-info {
    margin-bottom: 1.0417vw;
  }
  /* footer end */

  /* popup start */

  .lego_popup .popup-buttons button {
    height: 3.125vw;
    font-size: 1.0417vw;
  }
  /* popup end */
}

/* 데스크탑 작은 화면 (1440px 이하) */
@media (max-width: 1440px) {
}

/* 태블릿 가로 화면 (1280px 이하) */
@media (max-width: 1280px) {
}

/* 태블릿 세로 화면 (1024px 이하) */
@media (max-width: 1024px) {
}

/* 모바일 가로 화면 (768px 이하) */
@media (max-width: 768px) {
  .pc {
    display: none!important;
  }

  .mo {
    display: block!important;
  }

  .main-section {
    background: url(../images/m_main.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 129vh;
    max-height: none;
    background-position: top;
  }

  .header h1 a {
    width: 142.5px;
    height: 53px;
  }

  .header {
    z-index: 99;
    /* background-color: #fff; */
    padding: 20px 0;
  }

  .slide {
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    transition: top 0.3s;
    background-color: #cccccc;
    z-index: 2;
  }

  .header.drop {
    padding: 20px 0;
    background-color: #fff;
  }

  .slide ul li a {
    color: #000;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
  }
  .container{
    max-width: calc(100% - 30px);
  }

  /* .header .container {
    max-width: calc(100% - 30px);
  } */

  .main-section .container .top {
    padding: 0;
    padding-top: 100px;
  }
  .main-section .container .top p {
    font-size: 48px;
    line-height: 58px;
    text-shadow: 2px 2px 2px #d1d1d1;
  }

  .main-section .container .top p .main-color {
    font-size: 48px;
    text-shadow: 2px 2px 2px #d1d1d1;
  }

  .main-section .container .top .main-title del {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 166px;
    font-size: 18px;
    font-weight: 700;
  }
  .main-section .container .top .main-title del::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 18px solid transparent;
    border-top-color: #10a34a;
    border-bottom: 0;
    border-left: 0;
    margin-left: -42px;
    margin-bottom: -12px;
  }

  .main-section .container .bottom {
    padding: 3.125vw 0 0 0;
  }

  .main-section .container .bottom ul li {
    margin-bottom: 1.0417vw;
  }

  .main-section .container .bottom ul li p.main-color {
    font-size: 16px;
    margin-right: 11px;
  }

  .main-section .container .bottom ul li > p:last-child {
    font-size: 15px;
  }
  .main-section .container .bottom ul li > div > p {
    font-size: 15px;
    line-height: 25px;
  }
  .gts-icon {
    width: 16px;
    height: 16px;
    margin: 0 4px;
  }

  .main-section .main-right-float {
    display: none;
  }

  body > .wrap > .main-right-float{
    width: 143.5px;
    height: 117.5px;
    right: -6px;
    top: 70%;
  }

  body > .wrap > .main-right-float > .arrow {
    width: 20.5px;
    height: 21px;
  }

  .recruit-section .schedule-box .container {
    padding-top: 262.5px;
  }

  .recruit-section .schedule-box .container .recruit-schedule {
    top: -82px;
    height: auto;
  }

  .recruit-section .schedule-box .container .recruit-schedule .top-box {
    width: 163.5px;
    height: 24.5px;
    top: -20px;
    border-radius: 20px 22.5px 0 0;
    border: 3px solid #0c4b63;
    border-bottom: none;
  }
  
  .recruit-section .schedule-box .container .recruit-schedule .box-title {
    font-weight: 800;
    font-size: 30px;
    height: auto;
    top: -15px;
    left: 30px;
}

  .recruit-section .schedule-box .container .recruit-schedule .box-contents {
    height: auto;
    border-radius: 0 25px 25px 25px;
    border: 3px solid #0c4b63;
  }

  .recruit-section .schedule-box .container .recruit-schedule .box-contents .contents-container {
    max-width: calc(100% - 60px);
  }

  .recruit-section .schedule-box .container .recruit-schedule .box-contents .contents-container .txt-wrap {
    display: block;
    margin: 20px 0;
  }

  .recruit-section .schedule-box .container .recruit-schedule .box-contents .contents-container .txt-wrap ul {
    display: flex;
    margin-bottom: 7px;
  }

  .recruit-section .schedule-box .container .recruit-schedule .box-contents .contents-container .txt-wrap ul li:first-child {
    font-size: 17px;
    margin-right: 10px;
  }

  .recruit-section .schedule-box .container .recruit-schedule .box-contents .contents-container .txt-wrap ul li.blue-color {
    width: 87.59px;
    margin-bottom: 14px;
  }

  .recruit-section .schedule-box .container .recruit-schedule .box-contents .contents-container .txt-wrap ul li.low-green-color img{
    margin-bottom: 29px;
  }

  .recruit-section .schedule-box .container .recruit-schedule .box-contents .contents-container .txt-wrap ul li:last-child {
    font-size: 14px;
    font-weight: 500;
  }

  .recruit-section .schedule-box .container .recruit-schedule .box-contents .contents-container .txt-wrap ul li:first-child img {
    width: 14px;
    height: 12.5px;
    margin-right: 10px;
  }

  .recruit-section .schedule-box .container .recruit-schedule .box-contents .contents-container .txt-wrap ul li:last-child p:last-child {
    font-size: 12px;
    font-weight: 400;
  }

  .recruit-title {
    font-size: 35px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: -0.5208vw;
    height: 74px;
  }
  .deco01 {
    top: -65px;
    left: -5px;
    width: 117px;
    height: 164px;
  }  

  .recruit-section .schedule-box .container .subject-list .wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .deco02 img {
    width: 157px;
    height: 146.5px;
    top: -56px;
    right: -26px;
  }

  .examination-details-section .container .box-wrap {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .examination-details-section .container .box-wrap .detail02 {
    margin-top: 75px;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .nemo {
    border: 3px solid #0c4b63;
    border-radius: 25px;
    padding: 27px;
    min-height: auto;
    max-height: none;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .nemo .num {
    top: 24px;
    right: 24px;
    width: 37.5px;
    height: 37.5px;
    font-size: 17px;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .nemo hr {
    border: 1px dotted #e8e8e8;
    margin: 7px 0;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .nemo .title {
    font-size: 25px;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .nemo ul li {
    font-size: 15px;
    line-height: 25px;
    padding-left: 20px;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .nemo ul li:first-child::before {
    width: 5px;
    height: 5px;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .type1 {
    min-height: auto;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .type1 .top {
    height: auto;
  }

  .recruit-section .schedule-box .container .subject-list .wrap .type2 {
    min-height: auto;
  }

  

  .recruit-section .schedule-box .container .subject-list {
    padding-top: 25px;
  }

  .recruit-section .schedule-box .container .subject-notice {
    padding: 47px 0 70px 0;
  }

  .recruit-section .schedule-box .container .subject-notice .wrap {
    background:none ;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }

  .recruit-section .schedule-box .container .subject-notice .wrap span {
    font-weight: 700;
    font-size: 20px;
    position: relative;
    width: 100%;
    height: 45px;
    border-radius: 45px;
  }
  .recruit-section .schedule-box .container .subject-notice .wrap ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }

  .recruit-section .schedule-box .container .subject-notice .wrap ul li {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 45px;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 300;
  }

  .recruit-section .schedule-box .container .subject-notice .wrap ul li img{
    margin: 0 5px;
    width: 15px;
    height: 15px;
  }

  .recruit-section .schedule-box .container .subject-notice .wrap ul li::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #1cabe2;
    margin-right: 11px;
  }

  .examination-details-section {
    padding: 70px 0;
  }

  .examination-details-section .container .box-wrap .examination-detail .top-box {
    width: 163.5px;
    height: 23px;
    top: -20px;
    border-radius: 20px 22.5px 0 0;
    border: 3px solid #3a571d;
    border-bottom: none;
  }

  .examination-details-section .container .box-wrap .examination-detail .box-title {
    font-size: 30px;
    font-weight: 800;
    width: 102.5px;
    height: 26px;
    left: 29px;
    top: -3px;
  }

  .examination-details-section .container .box-wrap .detail01{
    height: auto;
  }

  .examination-details-section .container .box-wrap .detail01 .box-contents {
    height: auto;
  }

  .examination-details-section .container .box-wrap .examination-detail .box-contents {
    border: 3px solid #3a571d;
  }

  .score-wrap {
    display: block;
    padding-bottom: 80px;
  }

  .score-wrap .evaluation-score {
    margin-bottom: 60px;
  }

  .score-wrap .evaluation-score, .score-wrap .additional-points {
    width: 100%;
  }

  .score-wrap .evaluation-score p, .score-wrap .additional-points p {
    font-size: 25px;
    width: 100%;
    height: 50px;
    border-radius: 25px;
  }

  .evaluation-score ul, .additional-points ul {
    margin-top: 15px
  }

  .evaluation-score ul li, .additional-points ul li {
    margin-bottom: 5px;
  }

  .evaluation-score ul li:first-child span {
    width: 55px;
    height: 68px;
    border-radius: 18.25px;
    margin: 0px 20px 0px 6px;
    font-size: 16px;
    font-weight: 600;
  }

  .evaluation-score ul li:first-child {
    height: 77.5px;
    border-radius: 25px;
    font-size: 15px;
  }

  .evaluation-score ul li, .additional-points ul li {
    height: 55px;
    border-radius: 22.5px;
  }

  .evaluation-score ul li span {
    width: 55px;
    height: 45.5px;
    border-radius: 17.5px;
    margin: 0px 20px 0px 6px;
    font-size: 16px;
    font-weight: 600;
  }

  .evaluation-score ul li, .additional-points ul li {
    font-size: 15px;
  }

  .benefit-lists {
    margin-top: 40.5px;
  }

  .benefit-lists ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .award-section {
    padding: 0 12.5px 27px 12.5px;
    max-width: none;
  }

  .award-section > div {
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .award-section > div:first-child {
    height: 50px;
    border-radius: 12.5px;
    font-size: 19px;
    margin-top: 37px;
  }

    .award-section > div:nth-child(2) {
      padding-left: 7%;
    }

  .award-row div {
    height: 45px;
    line-height: 45px;
    font-size: 15px;
    font-weight: 400;
  }
  .award-header div:nth-child(1), .award-row div:nth-child(1) {
    width: 29.03%;
    max-width: none;
    gap: 5px;
  }

  .award-header div:nth-child(3), .award-row div:nth-child(3) {
    width: 22.58%;
        max-width: none;
    gap: 5px;
  }
  .award {
    justify-content: center!important;
  }
  .award-header div:nth-child(2), .award-row div:nth-child(2) {
    width: 47.16%;
    max-width: none;
    gap: 5px;
  } 

  .award {
    height: 45px;
    font-size: 15px;
  }

  .award-row, .criteria-row {
    gap: 5px;
  }
  
  .examination-details-section .container .box-wrap .detail02,
  .examination-details-section .container .box-wrap .detail02 .box-contents {
    height: auto;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num {
    font-size: 19px;
    background-color: #f5faf0;
    border-radius: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#80bd41;
    font-weight: 800;
    height: 45px;
    margin-bottom: 5px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num01 {
    margin-top: 48px;
    margin-bottom: 5px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .item .left {
    font-size: 19px;
    background-color: #f5faf0;
    border-radius: 12.5px;
    color:#80bd41;
    font-weight: 800;
    width: 33.5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo li:nth-child(2) .item .left,
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo li:nth-child(3) .item .left {
    width: 75px;
    height: 45px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num01 li:nth-child(4) .item .left{
    width: 75px;
    height: 93px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num02 li:nth-child(4) .item .left{
    width: 75px;
    height: 173px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num03 li:nth-child(4) .item .left{
    width: 75px;
    height: 63px;
  }
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo li .item .right {
    font-size: 15px;
    font-weight: 400;
  }
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo li .item .right {
    margin-left: 5px;
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 12.5px;
  }
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo li:nth-child(2) .item .right,
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo li:nth-child(3) .item .right {
    height: 45px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num01 li:nth-child(4) .item .right{
    padding: 7.75px 0;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo li:nth-child(4) .item .right p{
    padding-left: 32.5px;
    position: relative;
    margin-bottom: 5px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo li:nth-child(4) .item .right p::before {
    content: '';
    display: inline-block;
    border-radius: 100%;
    background-color: #80bd41;
    width: 3px;
    height: 3px;
    position: absolute;
    left: 20px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo hr {
    display: block;
    margin: 20px 12px;
    border: 1px dotted #e8e8e8;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num01,
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num02,
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num03{
    padding: 0 12px;
  }
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num03 {
    margin-bottom: 17px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num01,
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num02{

  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num01 li:nth-child(4) .item .right p:first-child::before{
    top: 50%;
    transform: translate(0, -50%);
  }
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num01 li:nth-child(4) .item .right p:last-child::before{
    top:10px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num02 li:nth-child(4) .item .right{
    height: 173px;
    padding-top: 15px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num02 li:nth-child(4) .item .right p {
    margin-bottom: 5px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num02 li:nth-child(4) .item .right p:nth-child(1)::before{
    top:10px;
  }
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num02 li:nth-child(4) .item .right p:nth-child(2)::before{
    top:10px;
  }
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num02 li:nth-child(4) .item .right p:nth-child(3)::before{
    top:10px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num02 li:nth-child(4) .item .right p:nth-child(1)::before{
    top:10px;
  }

  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num03 li:nth-child(4) .item .right p:nth-child(1)::before{
    top: 10px;
  }
  .examination-details-section .container .box-wrap .detail02 .box-contents.mo .num03 li:nth-child(4) .item .right{
    padding: 9px 0;
  }

  .examination-details-section .container .box-wrap .detail02 .deco05 {
    width: 104px;
    height: 94px;
    bottom: -80px;
    left: -21px;
  }

  .additional-points ul li:last-child{
    height: 114px;
    text-align: center;
    line-height: 25px;
  }
  .additional-points ul li .check_icon {
    width: 32.5px;
    height: 33px;
    margin: 0 44px 0 18.5px;
  }

  .evaluation-score ul li, .additional-points ul li {
    line-height: 21px;
  }
  .benefit-lists ul {
    gap: 10.5px;
  }

  .benefit-lists li::before {
    width: 37.5px;
    height: 37.5px;
    border-radius: 100%;
    font-size: 17px;
  }

  .benefit-lists_icon {
    height: 58px;
    margin-top: 32px;
  }

  .benefit-lists li {
    border: 3px solid #3a571d;
    border-radius: 25px;
    height: 222px;
  }

  .benefit-lists_txt {
    font-size: 14px;
    line-height: 20px;
    margin-top: 24px;
  }

  .benefit-lists_txt .sub {
    font-size: 13px;
  }

  .benefit-ref {
    font-weight: 400;
    font-size: 11px;
    margin-top: 20px;
  }

  .voting-section .container {
    padding-top: 77px;
    padding-bottom: 100px;
  }

  .voting-section .tabs-wrap {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .voting-section .tabs .line {
    width: 1px;
    height: 73.5px;
  }

  .voting-section .tabs-wrap .tabs .tab {
    font-size: 35px;
  }

  .voting-section .tabs-wrap .tabs {
    height: 73.5px
  }

  .voting-section .deco08 {
    width: 147px;
    height: 121px;
    right: -5.94%;
  }

  .cate-wrap .tabs {
    height: 37.5px;
    max-width: none;
    gap: 5px;
  }

  .cate-wrap .tabs .tab:nth-child(2) {
    width: 132px;
  }

  .cate-wrap .tabs .tab {
    height: 37.5px;
    font-size: 19px;
    background-color: #017338;
    padding: 19px;
    border-radius: 18.25px;
  }

  .cate-wrap .tabs .tab::after {
    display: none;
  }

  .cate-wrap .tabs .tab.active {
    border-radius: 18.25px;
  }

  .cate-wrap {
    margin-top: 29.5px;
    overflow-x: scroll;
  }

  .voting-section .container .voting-box {
    margin-top: 26px;
    height: auto;
    border-radius: 25px;
  }

  .voting-section .container .voting-box .top {
    height: 115px;
  }
  .voting-section .container .voting-box .top .search-container .flex {
    padding: 15px 0 5.5px 0;
    justify-content: space-between;
  }
  .voting-section .container .voting-box .top .search-container .flex .dropdown{
    width: 185px;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    color: #777;
    background: url(../images/select_arrow.png) no-repeat 88% 50% / 10px auto;
    padding: 0 20px;
  }
  .search-button {
    width: 125px;
    height: 40px;
    border-radius: 25px;
    font-size: 15px;
  }
  .voting-section .container .voting-box .top .search-container {
    display: block;
    max-width: none;
    width: 100%;
    padding: 0 13px;
  }

  .search-input {
    padding: 0 20px;
    width: 315px;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
  }

  .voting-section .container .voting-box .bottom .contents .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .voting-section .container .voting-box .bottom .contents-container {
    max-width: none;
    padding: 0 13px 30px 13px;
  }

  .voting-section .container .voting-box .bottom .info {
    padding: 15px 0;
  }

  .voting-section .container .voting-box .bottom .info p {
    font-size: 13px;
    font-weight: 500;
    padding-left: 15px;
  }
  .voting-section .container .voting-box .bottom .info p .main-color {
    font-size: 15px;
  }

  .voting-section .container .voting-box .bottom .info select {
    font-size: 13px;
    width: 83.5px;
    background: url(../images/select_arrow.png) no-repeat 96% 50% / 10px auto;
    margin-right: 15px;
  }

  .voting-section .container .voting-box .bottom .contents .grid .list {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 9px;
  }

  .voting-section .container .voting-box .bottom .contents .grid .list .txt-wrap .flex .category {
    width: 75px;
    height: 19px;
    border-radius: 9.375px;
    font-size: 11px;
    font-weight: 200;
  }

  .custom-checkbox .checkmark {
    width: 16px;
    height: 16px;
  }

  .custom-checkbox input[type="radio"]:checked + .checkmark::after {
    width: 16px;
    height: 16px;
  }

  .custom-checkbox {
    font-size: 16px;
  }

  .voting-section .container .voting-box .bottom .contents .grid .list .txt-wrap .sub-title {
    font-size: 12.5px;
  }

  .voting-section .container .voting-box .bottom .contents .grid .list .txt-wrap .txt {
    font-size: 15px;
    line-height: 20px;
    height: 38.5px;
  }

  .voting-section .container .voting-box .bottom .contents .grid .list img {
    max-width: none;
    max-height: none;
    border-radius: 6.25px;
    margin-top: 20px;
  }

  .pagenation-container {
    margin-top: 20px;
  }

  .pagenation-container #prev_page, .pagenation-container #next_page {
    width: 15px;
    height: 15.5px;
  }

  .pagenation-container .pages {
    margin:  0 10px;
    gap: 10px;
  }

  .pagenation-container .pages .active {
    width: 30px;
    height: 30px;
  }
  .pagenation-container .pages span {
    font-size: 12px;
  }

  .notice-section{
    padding: 70px 0;
  }

  .section-title {
    font-size: 35px;
    height: 73px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .notice-box {
    margin-top: 25px;
  }

  .notice-lists > li {
    padding:  25px 0;
  }

  .notice-lists > li::before {
    width: 37.5px;
    height: 37.5px;
    font-size: 17px;
    top: 32px;
  }

  .notice-lists_tit::after {
    width: 13.5px;
    height: 7.5px;
  }

  .notice-lists_tit {
    font-size: 20px;
    padding-left: 55px;
    height: 50.5px;
    line-height: 27px;
    display: flex;
    align-items: center;
    padding-right: 17px;
  }

  .notice-lists_des p {
    font-size: 15px;
    line-height: 26.25px;
  }

  .notice-lists_tit.open + .notice-lists_box {
    max-height: none;
  }

  .notice-lists_des {
    border-radius: 12.5px;
    padding: 17px 26px;
  }

  footer{
    height: 100%;
    padding: 80px 0 149px 0;
  }

  footer .logo {
    width: 219.5px;
    height: 28.5px;
    padding: 0;
    margin-bottom: 19.5px;
  }

  footer .footer-info {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 27px;
  }

  .copyright{
    font-size: 12px;
    line-height: 17px;
  }

  .download-box {
    margin-top: 25px;
    display: block;
    border-radius: 10px;
    padding: 15px;
  }

  .download-box ul {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  .download_label {
    width: auto;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .download_label::after {
    display: none;
  }

  .download-file_name {
    font-size: 15px;
    padding: 15px;
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 10px 0 0 10px;
    border-right: none;
    height: 62.5px;

  }

  .download-file {
    margin-bottom: 5px;
  }

  .download-file:last-child {
    margin-bottom: 0;
  }

  .download-file_button {
    background: url(../images/down_icon.png) no-repeat 50% 78% / 6.5px 9px;
    width: 53px;
    height: 62.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141d3d;
    font-size: 13px;
    line-height: 13px;
    padding-bottom: 15.5px;
    border-radius: 0 10px 10px 0;
  }

  /* 모바일 세로 화면 (480px 이하) */
  @media (max-width: 480px) {
  }

  /* 모바일 초소형 화면 (320px 이하) */
  @media (max-width: 320px) {
  }
}