/* pc 769 이상 1400 이하 */
@media screen and (min-width: 769px) and (max-width: 1400px) {
  #apply_popup .popup-box {
    margin: 11.43vw auto;
    width: calc(100% - 7.14vw);
  }
  .popup-box .top-box {
    width: 76.43vw;
    height: 4.29vw;
    border-radius: 3.93vw 3.93vw 0 0;
    top: -4vw;
  }
  .popup-title {
    font-size: 3.57vw;
    width: 75.71vw;
    line-height: 7.86vw;
    border-radius: 3.93vw 3.93vw 0 0;
    top: -3.71vw;
  }
  .popup-content {
    border-radius: 2.86vw;
    box-shadow: 0.43vw 0.43vw 0px 0px #2d2926;
    padding: 8.57vw 7.14vw 7.14vw;
  }
  
  .pop-tb {
    border-radius: 3.93vw;
    margin-top: 3.57vw;
  }
  .pop-tb .tb-tit {
    width: 21.43vw;
  }
  .tb-body > .tb-row:last-child {
    border-radius: 0 0 3.57vw 3.57vw;
  }
  .pop-tb .tb-tit02 {
    width: 11.43vw;
  }
  .pop-tb .tb-tit strong {
    font-size: 2vw;
  }
  .pop-tb .tb-tit span {
    font-size: 1.57vw;
  }
  .pop-tb .essential::after {
    width: 0.57vw;
    height: 0.57vw;
    margin: 0.43vw 0 0 0.36vw;
  }
  .pop-tb .tb-col .row-tit {
    width: 10vw;
    font-size: 1.86vw;
  }
  .pop-tb .tb-con {
    padding: 1.07vw;
  }
  .pop-tb input[type="text"] {
    height: 4.29vw;
    border-radius: 2.14vw;
    padding: 0 2.14vw;
    font-size: 1.57vw;
    letter-spacing: -0.3.93vw;
  }
  .address_box .input_box + .input_box {
    margin-top: 0.71vw;
  }
  .pop-tb .btn-address {
    width: 11.43vw;
    line-height: 3.43vw;
    border-radius: 1.57vw;
    font-size: 1.43vw;
    top: 0.43vw;
    right: 0.43vw;
  }

  /* 공모부문 select */
  .select-selected {
    border-radius: 2.29vw;
    padding: 2.14vw 2.86vw;
  }
  .select-selected:not(.selected) {
    font-size: 1.43vw;
    line-height: 4.14vw;
    padding: 0 2.14vw;
  }
  .select-items {
    padding: 0 2.86vw;
    border-radius: 2.29vw;
  }
  .select-selected{
    background-size: 1.36vw 0.79vw;
    background-position: calc(100% - 2.86vw) 50%;
  }
  .select-selected.selected {
    background-position: calc(100% - 2.86vw) 2.86vw;
  }
  .select_box.open .select-items {
    box-shadow: 0px 1.43vw 3.57vw 0px rgba(0, 0, 0, 0.4);
    background-size: 1.36vw 0.79vw;
    background-position: calc(100% - 2.86vw) 2.86vw;
  }
  .select_box .select-item {
    padding: 2.14vw 0;
  }
  .select_box .item-tit {
    font-size: 2vw;
    margin-bottom: 0.36vw;
  }
  .select_box .item-des li {
    font-size: 1.43vw;
    padding-left: 1.14vw;
  }
  .select_box .item-des li::before {
    width: 0.43vw;
    height: 0.43vw;
    top: 0.86vw;
  }

  /* 사업소개서 첨부파일 */
  .pop-tb .file_boxes li + li {
    margin-top: 0.57vw;
  }
  .pop-tb .file_box {
    width: calc(100% - 4vw);
    height: 4.29vw;
    border-radius: 2.14vw;
    padding: 0.36vw 0.36vw 0.36vw 0.71vw;
    margin-right: 0.29vw;
  }
  .pop-tb .file_label {
    font-size: 1.43vw;
    line-height: 1.43vw;
    padding: 0 2.14vw;
  } 
  .pop-tb .file_name {
    font-size: 1.43vw;
    padding-left: 2.14vw;
  }
  .btn-document_add {
    width: 8.57vw;
    border-radius: 1.71vw;
    font-size: 1.43vw;
  }
  .btn-filebox_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4vw;
    margin: 0.43vw;
  }
  .btn-filebox_wrap > button {
    width: 1.76vw;
    height: 1.76vw;
  }
  .btn-filebox_add {
    background-size: 0.79vw 0.79vw;
  }
  .btn-filebox_delete {
    background-size: 0.79vw 1px;
  }
  .file_boxes + .ref {
    font-size: 1.43vw;
    padding-left: 2.14vw;
    margin-top: 1.07vw;
  }
  .file_boxes + .ref p::before {
    margin-right: 0.71vw;
  }

  .tb-header {
    line-height: 6vw;
    font-size: 2.71vw;
    border-radius: 3vw 3vw 0 0;
  }
  .pop-tb__agree .tb-body {
    padding: 3.93vw 5.71vw 3.57vw;
    font-size: 1.43vw;
  }
  .pop-tb__agree .tb-box {
    padding: 2.14vw 4.29vw;
  }
  .pop-tb__agree .tb-box_gray {
    padding: 3.57vw 4.29vw;
    border-radius: 1.43vw;
  }
  .pop-tb__agree .tb-box_gray ol {
    padding-left: 1.07vw;
  }
  .pop-tb__agree .tb-box_gray ol li + li,
  .pop-tb__agree .tb-box_gray p + p {
    margin-top: 2.86vw;
  }
  .pop-tb__agree .tb-box_gray .ref {
    padding-left: 1.07vw;
    margin-top: 2.86vw;
  }
  .pop-tb__agree .tb-box_gray .ref::before {
    left: -0.36vw;
  }
  .agree_wrap {
    padding-top: 2.86vw;
  }
  .agree_box {
    font-size: 1.71vw;
  }
  .agree_box label {
    margin-right: 8.57vw;
  }
  .agree_box label:last-child {
    margin-right: 2.86vw;
  }
  .agree_box input[type="radio"] {
    width: 1.71vw;
    height: 1.71vw;
    margin-right: 1.43vw;
  }
  .agree_box input[type="radio"]:checked::before {
    width: 2.29vw;
    height: 2.14vw;
    top: -0.93vw;
    left: -0.29vw;
  }
  .pop-tb__agree02 .agree_wrap {
    padding-left: 4.29vw;
  }
  .btn_wrap {
    gap: 2.14vw;
    margin-top: 5vw;
  }
  .btn_wrap button {
    line-height: 6.43vw;
    border-radius: 3.21vw;
    font-size: 2.86vw;
  }
  .btn-pop_close {
    width: 14.29vw;
  }
  .btn-pop_apply {
    width: 42.86vw;
  }
  .btn-pop_apply::before {
    width: 2.86vw;
    height: 2.86vw;
    transform: translate(7.86vw,-50%);
  }
  .btn-pop_apply::after {
    width: 3.21vw;
    height: 3.21vw;
    top: 3.07vw;
    transform: translateX(9.64vw);
  }
  .btn-pop_apply:hover::after {
    transform: translateX(9.29vw);
  }


  /* 카드뉴스 */
  .card-notice {
    font-size: 1.57vw;
    margin-top: 1.07vw;
  }
  .card-notice img {
    width: 1.5vw;
    height: 1.5vw;
  }
  .text-muted {
    font-size: 1.43vw;
    margin: 1.07vw 0 0 2.14vw;
    padding-left: 0.71vw;
  }
  #dropzone-preview {
    gap: 1.43vw;
  }
  .card-with-upload::after {
    height: 24.14vw;
    font-size: 1.43vw;
  }
  .card-image {
    border-radius: 1.07vw;
    /* width: 18.86vw; */
    height: 24.14vw;
    padding: 4.29vw 1.43vw 1.43vw;
  }

  .representative-label {
    width: 6.43vw;
    line-height: 3.57vw;
    border-radius: 0.71vw 0 1.07vw 0;
    font-size: 1.71vw;
  }

  .card-image .delete-icon {
    top: 0.71vw;
    right: 0.71vw;
    width: 1.86vw;
    height: 1.86vw;
    box-shadow: 0px 0px 0.43vw rgba(0, 0, 0, 0.12);
  }

  #resized-thumbnail-preview {
    margin-top: 1.43vw;
    border-radius: 0.71vw;
    box-shadow: 0 2px 0.43vw rgba(0, 0, 0, 0.1);
  }

  #dropzone-preview .image-box img {
    border-radius: 0.71vw;
  }

  .content-input {
    height: 18.57vw;
    border-radius: 2.14vw;
    padding: 25px 2.14vw 3.57vw;
    font-size: 1.57vw;
  }
  .text-counting {
    bottom: 2.14vw;
    right: 2.86vw;
    font-size: 1.43vw;
  }

  /* 나의 투표 위젯 */
  .widget-top {
    height: 5.71vw;
  }
  .widget_tit {
    width: calc(100% - 7.86vw);
    font-size:2.57vw;
    line-height: 5.71vw;
    padding-left: 2.14vw;
  }
  .widget_close {
    font-size: 1.86vw;
    line-height: 5.71vw;
    width: 7.86vw;
  }

  /* 간편인증 */
  .beforeCertified_box {
    gap: 3.57vw;
    padding: 10vw 2.14vw 8.29vw;
  }
  .beforeCertified_box > p {
    font-size: 2.14vw;
  }
  .beforeCertified_box > button {
    line-height: 5.71vw;
    border-radius: 0.71vw;
    font-size: 2.14vw;
  }
  .beforeCertified_bottom {
    padding: 2.14vw 2.86vw 3.57vw;
  }
  .beforeCertified_bottom span {
    font-size: 1.57vw;
  }

  /* 나의투표 */
  #myVote {
    padding: 0.71vw 1.43vw;
  }
  .vote-list-item {
    padding: 0.71vw 0;
  }
  .btn-vote_delete {
    width: 1.86vw;
    height: 1.86vw;
    top: 1.43vw;
  }
  .vote_img {
    width: 10vw;
    height: 11.43vw;
    border-radius: 0.71vw;
    background: #f6f6f6 url(../images/icon_vote@2x.png) no-repeat 50% 2.86vw;
    background-size: 2.71vw 2.86vw;
  }
  .vote_img span {
    font-size: 1.29vw;
    bottom: 2.86vw;
  }
  .vote_des {
    padding: 0.71vw 0 0 1.43vw;
  }
  .vote_category {
    width: 7.14vw;
    line-height: 1.86vw;
    border-radius: 0.93vw;
    font-size: 1.14vw;
  }
  .vote_school {
    font-size: 1.29vw;
    margin-top: 1.43vw
  }
  .vote_title {
    font-size: 1.57vw;
  }
  .vote_btn_wrap {
    padding: 0.71vw 0;
  }
  .vote_btn_wrap > button {
    line-height: 60px;
    border-radius: 0.71vw;
    font-size: 1.57vw;
  }
  .vote_btn_wrap > button + button {
    margin-top: 0.71vw;
  }


}

/* mobile 768 이하 */
@media screen and (max-width: 768px) {
  .br_pc {display: none;}
  .br_m {display: block;}
  #apply_popup {
    height: auto;
  }
  #apply_popup .popup-box {
    width: calc(100% - 40px);
    margin: 120px auto;
    border: 3px solid #2d2926;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 3px 0 0 #2d2926;
    padding: 25px 12px 36px;
  }
  .popup-box .top-box {
    display: none;
  }
  .popup-title {
    width: 100%;
    font-size: 25px;
    line-height: 1.2;
    border: 0;
    position: initial;
    transform: translateX(0);
    background: transparent;
  }
  .popup-content {
    border: 0;
    box-shadow: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .pop-tb {
    border-width: 3px;
    border-radius: 15px;
    margin-top: 25px;
  }
  .pop-tb .tb-row {
    flex-direction: column;
    border-bottom: 1px solid #e8e8e8;
  }
  .pop-tb .tb-tit {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    border-right: 0;
    padding: 10px 0;
  }
  .tb-body > .tb-row:last-child {
    border-radius: 0;
    border-bottom: 0;
  }
  .pop-tb .tb-tit02 {
    width: 100%;
  }
  .pop-tb .tb-tit strong {
    font-size: 18px;
  }
  .pop-tb .tb-tit span {
    font-size: 13px;
  }
  .pop-tb .essential::after {
    width: 5px;
    height: 5px;
    margin: 3px 0 0 2px;
  }
  .pop-tb .tb-col .tb-row {
    flex-direction: row;
  } 
  .pop-tb .tb_flex {
    flex-direction: column;
  }
  .pop-tb .tb_flex:last-of-type .tb-row:first-child {
    border-bottom: 1px solid #e8e8e8;
  }
  .pop-tb .tb-col .row-tit {
    width: 90px;
    font-size: 17px;
  }
  .pop-tb .tb-con {
    padding: 5px 10px;
  }
  .pop-tb input[type="text"] {
    height: 40px;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 14px;
  }
  .address_box .input_box + .input_box {
    margin-top: 5px;
  }
  .pop-tb .btn-address {
    width: 100px;
    line-height: 30px;
    border-radius: 14px;
    font-size: 13px;
    top: 5px;
    right: 5px;
  }

  /* 공모부문 select */
  .pop-tb__info .tb-body > .tb-row:nth-last-child(n+1):nth-last-child(-n+2) .tb-con {
    padding: 10px 12px;
  }
  .select_box {
    position: relative;
    width: 100%;
    cursor: pointer;
    z-index: 1;
  }
  
  .select-selected {
    border-radius: 15px;
    padding: 15px 25px;
  }
  .select-selected:not(.selected) {
    font-size: 13px;
    line-height: 40px;
    padding: 0 15px;
  }
  .select-items {
    padding: 0 25px;
    border-radius: 15px;
  }
  .select-selected{
    background-size: 13px 7px;
    background-position: calc(100% - 20px) 50%;
  }
  .select-selected.selected {
    background-position: calc(100% - 20px) 24px;
  }
  .select_box.open .select-items {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.4);
    background-size: 13px 7px;
    background-position: calc(100% - 20px) 24px;
  }
  .select_box .select-item {
    padding: 15px 0;
  }
  .select_box .item-tit {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .select_box .item-des li {
    font-size: 13px;
    line-height: 1.38;
    padding-left: 10px;
  }
  .select_box .item-des li::before {
    width: 4px;
    height: 4px;
    top: 6px;
    left: 0;
  }

  /* 사업소개서 첨부파일 */
  .pop-tb .file_boxes li + li {
    margin-top: 10px;
  }
  .pop-tb .file_box {
    width: calc(100% - 15px);
    height: auto;
    min-height: 106px;
    border-radius: 15px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 15px;
    margin-right: 10px;
  }
  .pop-tb .file_label {
    font-size: 13px;
    line-height: 1;
    display: block;
    width: 100%;
    padding: 0;
    border-right: 0;
  } 
  .pop-tb .file_name {
    font-size: 13px;
    padding-left: 0;
    line-height: 1.2;
    margin-top: 5px;
    position: relative;
    width: 100%;
  }
  .btn-document_add {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    font-size: 13px;
    margin-top: 15px;
  }
  .btn-document_delete {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .btn-filebox_wrap {
    flex-direction: column;
    width: 15px;
    margin: 0;
    gap: 6px;
  }
  .btn-filebox_wrap > button {
    width: 15px;
    height: 45px;
    border-radius: 7px;
  }
  .btn-filebox_add {
    background-size: 6px 6px;
  }
  .btn-filebox_delete {
    background-size: 6px 1px;
  }
  .file_boxes + .ref {
    font-size: 13px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
  }
  .file_boxes + .ref p {
    padding-left: 7px;
    line-height: 1.38;
  }
  .file_boxes + .ref p + p {
    margin-top: 5px;
  }
  
  .tb-header {
    line-height: 53px;
    font-size: 25px;
    border-radius: 10px 10px 0 0;
  }
  .pop-tb__agree .tb-body {
    padding: 12px 12px 22px 12px;
    font-size: 13px;
    line-height: 1.54;
  }
  .pop-tb__agree .tb-box {
    padding: 20px 15px;
  }
  .pop-tb__agree .tb-box_gray {
    padding: 30px 15px;
    border-radius: 12px;
  }
  .pop-tb__agree .tb-box_gray ol {
    padding-left: 10px;
  }
  .pop-tb__agree .tb-box_gray ol li + li,
  .pop-tb__agree .tb-box_gray p + p {
    margin-top: 20px;
  }
  .pop-tb__agree .tb-box_gray .ref {
    padding-left: 10px;
    margin-top: 20px;
  }
  .pop-tb__agree .tb-box_gray .ref::before {
    top: 0;
    left: -2px;
  }
  .agree_wrap {
    padding-top: 20px;
  }
  .agree_box {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .agree_box label {
    margin-right: 0;
  }
  .agree_box label:last-child {
    margin-right: 0;
  }
  .agree_box input[type="radio"] {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 2px;
    margin-right: 10px;
  }
  .agree_box input[type="radio"]:checked::before {
    width: 20px;
    height: 19px;
    top: -8px;
    left: -2px;
  }
  .pop-tb__agree02 .agree_wrap {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    border-top: 1px solid #e8e8e8;
  }
  .pop-tb__agree02 .agree_wrap .agree_box {
    width: 100%;
    margin-top: 15px;
  }
  .btn_wrap {
    flex-direction: column-reverse;
    gap: 10px;
    margin-top: 20px;
  }
  .btn_wrap button {
    line-height: 56px;
    border-radius: 28px;
    font-size: 25px;
  }
  .btn-pop_close, .btn-pop_apply {
    width: 100%;
  }
  .btn-pop_apply::before {
    width: 25px;
    height: 25px;
    transform: translate(72px,-50%);
  }
  .btn-pop_apply::after {
    width: 28px;
    height: 28px;
    top: 27px;
    transform: translateX(90px);
  }
  .btn-pop_apply:hover::after {
    transform: translateX(85px);
  }
  .btn-pop_close_follow {
    font-size: 15px;
    width: 260px;
    height: 45px;
    line-height: 45px;
    border-radius: 22px;
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  /* 카드뉴스 */
  .card-notice {
    font-size: 14px;
    margin-top: 5px;
  }
  .card-notice img {
    width: 13px;
    height: 13px;
  }
  .text-muted {
    font-size: 13px;
    margin: 10px 0 0 10px;
    padding-left: 7px;
  }
  .card-image {
    width: 165px;
    height: 210px;
    flex-shrink: 0;
  }
  .representative-label {
    width: 56px;
    line-height: 31px;
    border-radius: 9 0 9px 0;
    font-size: 15px;
  }
  .card-image .delete-icon {
    width: 16px;
    height: 16px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12);
  }
  .dropzone {
    overflow-x: auto;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
  }
  #dropzone-preview {
    gap: 10px;
    width: max-content;
    position: relative;
    margin: 0 auto;
  }
  /* 스크롤영역 */
  #dropzone-preview::before {
    content:'';
    display: block;
    width: 100%;
    height: 10px;
    background: #f5f5f5;
    border-radius: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
  }
  .card-with-upload::after {
    height: 210px;
    font-size: 13px;
    border-radius: 15px;
  }
  .card_upload_max2::after {
    width: 330px;
  }
  .card_upload_max1::after {
    width: 165px;
  }
  #dropzone-preview li:hover:not(.representative-selected) .representative-label {
    display: none;
  }
  .card-image, .representative-selected {
    border-width: 1px;
  }
  .dropzone .dz-message {
    font-size: 13px;
    line-height: 1.2;
  }

  .content-input {
    font-size: 14px;
    border-radius: 15px;
    height: 200px;
    padding: 20px 15px;
  }
  .text-counting {
    font-size: 13px;
    bottom: 15px;
    right: 15px;
  }

  /* 나의 투표 위젯 */
  .widget_wrap {
    width: 260px;
    position: absolute;
    top: 10%;
    right: -100%;
    transform: translateX(0);
  }
  .widget_wrap.open {
    right: 0;
    transition: right 0.3s;
  }
  .widget-top {
    height: 60px;
  }
  .widget_tit {
    width: calc(100% - 70px);
    font-size: 25px;
    line-height: 60px;
    padding-left: 15px;
  }
  .widget_close {
    font-size: 20px;
    line-height: 60px;
    width: 70px;
  }

  /* 간편인증 */
  .beforeCertified_box {
    gap: 30px;
    padding: 85px 25px 80px;
  }
  .beforeCertified_box > img {
    width: 72px;
  }
  .beforeCertified_box > p {
    font-size: 19px;
    line-height: 1.26;
  }
  .beforeCertified_box > button {
    line-height: 45px;
    font-size: 18px;
  }
  .beforeCertified_bottom {
    padding: 20px 30px 35px;
  }
  .beforeCertified_bottom span {
    font-size: 14px;
  }
  /* 나의투표 */
  #myVote {
    padding: 5px 15px;
  }
  .vote-list-item {
    padding: 10px 0;
  }
  .btn-vote_delete {
    width: 16px;
    height: 16px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12);
  }
  .vote_img {
    width: 87px;
    height: 100px;
    border-radius: 6px;
    background-position: 50% 25px;
    background-size: 24px 25px;
  }
  .vote_img span {
    font-size: 12px;
    bottom: 25px;
  }
  .vote_des {
    padding: 5px 0 0 15px;
  }
  .vote_category {
    width: 63px;
    line-height: 16px;
    border-radius: 8px;
    font-size: 10px;
  }
  .vote_school {
    font-size: 12px;
    margin-top: 15px
  }
  .vote_title {
    font-size: 15px;
    line-height: 1.3;
    margin-top: 5px;
  }
  .vote_btn_wrap > button {
    line-height: 40px;
    border-radius: 6px;
    font-size: 15px;
  }
  .vote_btn_wrap > button + button {
    margin-top: 5px;
  }

}