/* 데스크탑 중간 화면 (1920px 이상) */
@media (min-width: 1920px) {
}

/* 데스크탑 작은 화면 (1440px 이하) */
@media (max-width: 1440px) {
}

/* 태블릿 가로 화면 (1280px 이하) */
@media (max-width: 1280px) {
}

/* 태블릿 세로 화면 (1024px 이하) */
@media (max-width: 1024px) {
}

/* 모바일 가로 화면 (768px 이하) */
@media (max-width: 768px) {
  /* root 재정의 예시 코드 */
  :root {
    --font-size-base: 14px;
    --background-color: #eeeeee;
  }
  body {
    font-size: calc(var(--font-size-base) - 4px);
  }
}

/* 모바일 세로 화면 (480px 이하) */
@media (max-width: 480px) {
}

/* 모바일 초소형 화면 (320px 이하) */
@media (max-width: 320px) {
}

/* 엣지 */
.edge {

}


/* Safari 전용 스타일 */
@supports (-webkit-touch-callout: none) {

}

/* Chrome 전용 스타일 */
@media screen and (-webkit-min-device-pixel-ratio: 0) {

}

/* 웨일 */
.whale{

}
