/* 모바일 (화면 너비가 480px 이하일 때) */
@media only screen and (max-width: 480px) {
  body {
    background-color: lightyellow;
  }
}
/* 태블릿 (화면 너비가 768px 이상일 때) */
@media only screen and (min-width: 768px) {
  body {
    background-color: lightgray;
  }
}

/* 데스크탑 (화면 너비가 1024px 이상일 때) */
@media only screen and (min-width: 1024px) {
  body {
    background-color: lightblue;
  }
}

/* 큰 화면 (화면 너비가 1200px 이상일 때) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: lightgreen;
  }
}

/* 매우 큰 화면 (화면 너비가 1921px 이상일 때) */
@media only screen and (min-width: 1921px) {
  body {
    background-color: lightcoral;
  }
  /* main-section start */
  .main-section {
    max-height: 1419px;
    height: 120vh;
  }
}
