.font-r {
  font-family: 'font-r', sans-serif;
}

.font-b {
  font-family: 'font-b', sans-serif;
}

.font-h {
  font-family: 'font-h', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Paperlogy', sans-serif;
  width: 100%;
  height: 100%;
}

.wrap{
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1601px;
  margin: 0 auto;
}

.main-color {
  color: #1cabe2;
}

/* header start */
.header {
  padding: 40px 0;
  background-color: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  transition: 0.2s;
}

.header h1 a {
  width: 120px;
  height: 64px;
  display: block;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .menu {
  display: flex;
  width: 100%;
  max-width: 635px;
  justify-content: space-between;
}

.header .container .menu li a {
  font-size: 22px;
  font-weight: 500;
}

.header.drop {
  width: 100%;
  padding: 20px 0;
}
/* header end */

/* main-section start */
.main-section {
  background:url(../images/main.jpg) no-repeat;
  width: 100%;
  height:100vh;
  background-size: cover;
  background-position: bottom;
}

.main-section .container .top{
  padding: 203px 100px 0 100px;
  display: flex;
  justify-content: space-between;
}

.main-section .container .top p {
  font-family: 'Paperlogy', sans-serif;
  font-weight: 900;
  font-size: 108px;
  line-height: 126px;
}

.main-section .container .top .main-title {
  position: relative;
}

.main-section .container .top .main-title del {
  text-decoration: none;
  position: absolute;
  top: 15px;
  left: 356px;
  background: #10a34a;
	border-radius: 30px;
  color: #fff;
  font-size: 30px;
  padding: 17px 45px;
}

.main-section .container .top .main-title del::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 17px solid transparent;
	border-top-color: #10a34a;
	border-bottom: 0;
	border-left: 0;
	margin-left: -13px;
	margin-bottom: -17px;
}

.main-section .container .top .main-title-float {
  width: 275px;
  height: 225px;

}

.main-section .container .bottom {
  padding: 60px 100px 0 100px;
}

.main-section .container .bottom ul li {
  display: flex;
  margin-bottom: 20px;
}
.main-section .container .bottom ul li:last-child {
  margin-bottom: 0;
}

.main-section .container .bottom ul li p:first-child{
  font-size: 26px;
  margin-right: 19px;
  font-weight: 600;
}
.main-section .container .bottom ul li p:last-child{
  font-size: 24px;
  font-weight: 300;
}

/* main-section end */












/* footer start */
footer {
  background-color: #000;
  width: 100%;
  height: 378px;
  text-align: center;
}

footer p {
  color: #777779;
}

footer .logo {
  display: block;
  margin: 0 auto ;
  padding: 100px 0 41px 0;
 }

footer .footer-info {
  margin-bottom: 20px;
}
/* footer end */