/* box-sizing 규칙 명시 */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 폰트 크기 팽창 방지 */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 14px;
  color: #222;
}

/* 기본 여백 제거 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  word-break: keep-all;
  word-wrap: break-word;
  text-wrap: balance; /* 최신 브라우저 */
  overflow-wrap: break-word; /* 대체 속성 */
  line-height: 1.5;
  font-family: 'Pretendard';
  letter-spacing: -0.04em;
}

/* 리스트 기본 스타일 제거 */
ul[role='list'],
ol[role='list'],
li {
  list-style: none;
}

/* body 기본값 */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* 기본 a 태그 스타일 */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* 이미지 관련 작업 */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

/* 입력 및 버튼 기본값 */
input,
button,
textarea,
select {
  font: inherit;
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
button {
  cursor: pointer;
}
textarea:not([rows]) {
  min-height: 10em;
}

/* 고정된 항목 스크롤 여백 */
:target {
  scroll-margin-block: 5ex;
}

/* 선택 박스 커스텀 */
select {
  -webkit-appearance: none; /* for Chrome */
  -moz-appearance: none; /* for Firefox */
  appearance: none;
}

select::-ms-expand {
  display: none; /* for IE10, 11 */
}

/* 기타 기본값 */
a,
del {
  text-decoration: none;
  color: inherit;
}
strong, b {
  font-weight: 700;
}

input::-webkit-input-placeholder {
  color: #999;
}
input::-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder {
  color: #999;
}
input::placeholder {
  color: #999;
}